In [1]:
import numpy as np
import pandas as pd

In [6]:
df = pd.read_csv("champ.csv", header=None, encoding='utf', engine='python')
# print(df.head(50))

# df.set_index(0, inplace=True)
df
# df[0].value_counts()

               0       1                              2
0          Vayne  1 Gold              Suy Vong-Cung Thủ
1        Warwick  1 Gold                Suy Vong-Đấu Sĩ
2       Hecarim   2 Gold                 Suy Vong-Kỵ Sĩ
3         Thresh  2 Gold               Suy Vong-Hiệp Sĩ
4         Viktor  2 Gold            Suy Vong-Ma Pháp Sư
5       Katarina  3 Gold               Suy Vong-Sát Thủ
6         Draven  4 Gold             Suy Vong-Quân Đoàn
7          Viego  5 Gold    Suy Vong-Chiến Binh-Sát Thủ
8       Vladimir  1 Gold                  Ma Sứ-Tái Tạo
9        Sejuani  2 Gold                    Ma Sứ-Kỵ Sĩ
10       Lee Sin  3 Gold               Ma Sứ-Chiến Binh
11         Yasuo  3 Gold                Ma Sứ-Quân Đoàn
12      Aphelios  4 Gold                 Ma Sứ-Cung Thủ
13        Darius  5 Gold               Ma Sứ-Thần Vương
14     Lissandra  1 Gold            Tiên Hắc Ám-Tái Tạo
15       LeBlanc  2 Gold            Tiên Hắc Ám-Sát Thủ
16       Morgana  3 Gold        Tiên Hắc Ám-Ma Sứ-Bí Ẩn
17         Ziggs  1 Gold              Ác Quỷ-Ma Pháp Sư
18          Kled  1 Gold                   Ác Quỷ-Kỵ Sĩ
19         Poppy  1 Gold                 Ác Quỷ-Hiệp Sĩ
20        Kennen  2 Gold              Ác Quỷ-Chiến Binh
21          Lulu  3 Gold                   Ác Quỷ-Bí Ẩn
22         Teemo   6 Máu      Ác Quỷ-Quỷ Vương-Thuật Sĩ
23       Trundle  2 Gold             Đồ Long-Chiến Binh
24      Pantheon  3 Gold             Đồ Long-Chiến Binh
25         Diana  4 Gold          Đồ Long-Ma Sứ-Sát Thủ
26   Mordekaiser  4 Gold              Đồ Long-Quân Đoàn
27       Kalista  1 Gold              Thây Ma-Quân Đoàn
28         Brand  2 Gold             Thây Ma-Ma Pháp Sư
29          Nunu  3 Gold                 Thây Ma-Đấu Sĩ
30          Ryze  4 Gold         Thây Ma-Suy Vong-Bí Ẩn
31        Aatrox  1 Gold           Thiên Thần-Quân Đoàn
32         Leona  1 Gold             Thiên Thần-Hiệp Sĩ
33        Syndra  2 Gold            Thiên Thần-Thuật Sĩ
34         Varus  2 Gold            Thiên Thần-Cung Thủ
35           Lux  3 Gold               Thiên Thần-Bí Ẩn
36       Vel'Koz  4 Gold          Thiên Thần-Ma Pháp Sư
37        Gragas  1 Gold                 Thần Sứ-Đấu Sĩ
38       Kha'Zix  1 Gold                Thần Sứ-Sát Thủ
39        Soraka  2 Gold                Thần Sứ-Tái Tạo
40       Nidalee  3 Gold             Thần Sứ-Chiến Binh
41         Riven  3 Gold              Thần Sứ-Quân Đoàn
42         Karma  4 Gold               Thần Sứ-Thuật Sĩ
43         Garen  5 Gold             Thần Sứ-Thần Vương
44         Taric  4 Gold               Tiên Tộc-Hiệp Sĩ
45         Kayle  5 Gold  Tiên Tộc-Thiên Thần-Quân Đoàn
46          Udyr  1 Gold            Long Tộc-Chiến Binh
47          Sett  2 Gold                Long Tộc-Đấu Sĩ
48          Ashe  3 Gold              Long Tộc-Cung Thủ
49          Zyra  3 Gold            Long Tộc-Ma Pháp Sư
50  Heimerdinger  5 Gold    Long Tộc-Tái Tạo-Luyện Rồng
51      Nautilus  2 Gold             Thiết Giáp-Hiệp Sĩ
52          Rell  3 Gold    Thiết Giáp-Thiên Thần-Kỵ Sĩ
53           Jax  4 Gold          Thiết Giáp-Chiến Binh
54       Kindred  5 Gold       Vĩnh Hằng-Cung Thủ-Bí Ẩn
55      Nocturne  3 Gold                Tà Thần-Sát Thủ
56         Ivern  4 Gold       Tà Thần-Thuật Sĩ-Tái Tạo
57      Volibear  5 Gold                 Tà Thần-Đấu Sĩ

In [7]:
he_toc = df[2]
dict_he_toc = dict()

n = len(he_toc)

for i in range(n):
    row = he_toc[i]
    # print(row)
    tmp = row.split('-')
    
    for he in tmp:
        he_1 = he.strip()
        try:
            dict_he_toc[he_1] += f',{i}'
        except:
            dict_he_toc[he_1] = f'{i}'

print(dict_he_toc)

Suy Vong-Cung Thủ
Suy Vong-Đấu Sĩ
Suy Vong-Kỵ Sĩ
Suy Vong-Hiệp Sĩ
Suy Vong-Ma Pháp Sư
Suy Vong-Sát Thủ
Suy Vong-Quân Đoàn
Suy Vong-Chiến Binh-Sát Thủ
Ma Sứ-Tái Tạo
Ma Sứ-Kỵ Sĩ
Ma Sứ-Chiến Binh
Ma Sứ-Quân Đoàn
Ma Sứ-Cung Thủ
Ma Sứ-Thần Vương
Tiên Hắc Ám-Tái Tạo
Tiên Hắc Ám-Sát Thủ
Tiên Hắc Ám-Ma Sứ-Bí Ẩn
Ác Quỷ-Ma Pháp Sư
Ác Quỷ-Kỵ Sĩ
Ác Quỷ-Hiệp Sĩ
Ác Quỷ-Chiến Binh
Ác Quỷ-Bí Ẩn
Ác Quỷ-Quỷ Vương-Thuật Sĩ
Đồ Long-Chiến Binh
Đồ Long-Chiến Binh
Đồ Long-Ma Sứ-Sát Thủ
Đồ Long-Quân Đoàn
Thây Ma-Quân Đoàn
Thây Ma-Ma Pháp Sư
Thây Ma-Đấu Sĩ
Thây Ma-Suy Vong-Bí Ẩn
Thiên Thần-Quân Đoàn
Thiên Thần-Hiệp Sĩ
Thiên Thần-Thuật Sĩ
Thiên Thần-Cung Thủ
Thiên Thần-Bí Ẩn
Thiên Thần-Ma Pháp Sư
Thần Sứ-Đấu Sĩ
Thần Sứ-Sát Thủ
Thần Sứ-Tái Tạo
Thần Sứ-Chiến Binh
Thần Sứ-Quân Đoàn
Thần Sứ-Thuật Sĩ
Thần Sứ-Thần Vương
Tiên Tộc-Hiệp Sĩ
Tiên Tộc-Thiên Thần-Quân Đoàn
Long Tộc-Chiến Binh
Long Tộc-Đấu Sĩ
Long Tộc-Cung Thủ
Long Tộc-Ma Pháp Sư
Long Tộc-Tái Tạo-Luyện Rồng
Thiết Giáp-Hiệp Sĩ
Thiết Giáp-Thiên Thần-Kỵ Sĩ
Thiết Giáp-Chiến Binh
Vĩnh Hằng-Cung Thủ-Bí Ẩn
Tà Thần-Sát Thủ
Tà Thần-Thuật Sĩ-Tái Tạo
Tà Thần-Đấu Sĩ
{'Suy Vong': '0,1,2,3,4,5,6,7,30', 'Cung Thủ': '0,12,34,48,54', 'Đấu Sĩ': '1,29,37,47,57', 'Kỵ Sĩ': '2,9,18,52', 'Hiệp Sĩ': '3,19,32,44,51', 'Ma Pháp Sư': '4,17,28,36,49', 'Sát Thủ': '5,7,15,25,38,55', 'Quân Đoàn': '6,11,26,27,31,41,45', 'Chiến Binh': '7,10,20,23,24,40,46,53', 'Ma Sứ': '8,9,10,11,12,13,16,25', 'Tái Tạo': '8,14,39,50,56', 'Thần Vương': '13,43', 'Tiên Hắc Ám': '14,15,16', 'Bí Ẩn': '16,21,30,35,54', 'Ác Quỷ': '17,18,19,20,21,22', 'Quỷ Vương': '22', 'Thuật Sĩ': '22,33,42,56', 'Đồ Long': '23,24,25,26', 'Thây Ma': '27,28,29,30', 'Thiên Thần': '31,32,33,34,35,36,45,52', 'Thần Sứ': '37,38,39,40,41,42,43', 'Tiên Tộc': '44,45', 'Long Tộc': '46,47,48,49,50', 'Luyện Rồng': '50', 'Thiết Giáp': '51,52,53', 'Vĩnh Hằng': '54', 'Tà Thần': '55,56,57'}

In [8]:
dataF = pd.DataFrame(zip(dict_he_toc.keys(), dict_he_toc.values()))

In [9]:
dataF

              0                        1
0      Suy Vong       0,1,2,3,4,5,6,7,30
1      Cung Thủ            0,12,34,48,54
2        Đấu Sĩ            1,29,37,47,57
3         Kỵ Sĩ                2,9,18,52
4       Hiệp Sĩ            3,19,32,44,51
5    Ma Pháp Sư            4,17,28,36,49
6       Sát Thủ          5,7,15,25,38,55
7     Quân Đoàn      6,11,26,27,31,41,45
8    Chiến Binh   7,10,20,23,24,40,46,53
9         Ma Sứ    8,9,10,11,12,13,16,25
10      Tái Tạo            8,14,39,50,56
11   Thần Vương                    13,43
12  Tiên Hắc Ám                 14,15,16
13        Bí Ẩn           16,21,30,35,54
14       Ác Quỷ        17,18,19,20,21,22
15    Quỷ Vương                       22
16     Thuật Sĩ              22,33,42,56
17      Đồ Long              23,24,25,26
18      Thây Ma              27,28,29,30
19   Thiên Thần  31,32,33,34,35,36,45,52
20      Thần Sứ     37,38,39,40,41,42,43
21     Tiên Tộc                    44,45
22     Long Tộc           46,47,48,49,50
23   Luyện Rồng                       50
24   Thiết Giáp                 51,52,53
25    Vĩnh Hằng                       54
26      Tà Thần                 55,56,57

In [10]:
dataF.to_csv("Traits.csv",index=False, header=False)

In [7]:
a = [1,2,3,4,5, None]
b = [1,2,3,None, None, 1]
c = [1,2,None, None, None, None]
df_test = pd.DataFrame(zip(a,b,c))
df_test.head()
df_test.to_excel("test.xlsx", index=False, header=False)